/* SPDX-License-Identifier: AGPL-3.0-or-later */

@import url(//system.localhost:8888/menu_shared.css);

:host {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
}

.menu {
  position: absolute;
  top: 1em;
  left: calc(var(--sidebar-width) / 2);
  z-index: 1001;
}
